<Section id="page_heading">
  <div class="page-heading">
    <div class="row margin-left-right">
      <div class="col-md-9 col-sm-9">
        <h1 class="Enter-details">COMMODITY FOR LAB ASSISTANT</h1>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="form-group">
          <input class="form-control autocomplete" [(ngModel)]="searchValue" (input)="onSearchChange(searchValue)"
            placeholder="Search by cif, sampled, commodity" style="border: 1px solid #00670c; position:relative;" />
          <a (click)="clearSearch()">
            <i class="fa fa-close close_btn"></i>
          </a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</Section>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-sm-12 margin-left-right">
      <div class="card" style="margin-bottom: 0px;">
        <div class="row">
          <div class="col-md-4 offset-md-8">
            <div class="pagination-outer" style="float: right;margin-right: 5px;">
              <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item" [ngClass]="{'disabled':updatedData.prev === true}">
                    <span class="page-link" (click)="prevAndNext('prev' ,false )">&laquo;</span>
                  </li>
                  <li class="page-item active">
                    <span class="page-link">
                      {{updatedData.currentPage}}
                      <span class="sr-only">(current)</span>
                    </span>
                  </li>
                  <li class="page-item" [ngClass]="{'disabled':updatedData.next === true}">
                    <span class="page-link" (click)="prevAndNext('next' ,false )">&raquo;</span>
                  </li>
                  <li class="page-item"><a class="page-link" style="pointer-events: none;color: #00670c;">{{updatedData.from}}-{{updatedData.to}}
                      of {{updatedData.total}}</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 margin-left-right">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">CIF NO.</th>
                    <th scope="col">Commodity Name</th>
                    <th scope="col">Sample Id</th>
                    <th scope="col">Mandi(WH)</th>
                    <th scope="col">Created</th>
                    <th scope="col">Sent To Lab</th>
                    <th scope="col">Status</th>
                    <th scope="col" style="color:#00670c;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cif of updatedData.list">
                    <td>{{cif.cifNumber}}</td>
                    <td>{{cif.productId[0].name}}</td>
                    <td>{{cif.sampleId}}</td>
                    <td>{{cif.mandiId.name}}</td>
                    <td>{{cif.createdAt| date :'MMM ,dd yyyy'}}</td>
                    <td>{{cif.sentToLabTestDate | date :'MMM ,dd yyyy'}}</td>
                    <td ng-if="!cif.cancelRemark">NEW</td>
                    <td>
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <button type="button" class="btn btn-block btn-success active" data-toggle="modal"
                            data-target="#asstFillDetail" aria-pressed="true" tooltip="Vivamus" placement="auto" style="background: #00670c;text-align: center; width: 100%; padding: 3px 5px; margin-top: -3px; font-size: 10px;">Submit</button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Lab Asst fill detail Modal -->
<div id="asstFillDetail" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-success" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Fill the details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- model body section -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="inline-part-down">
              <div class="form-group row">
                <table class="pdf-form" style="margin-left: 10px; margin-right: 10px;margin-bottom: 10px;">
                  <tr>
                    <td>Test Items/Parameters</td>
                    <td>Test Method</td>
                    <td>Unit</td>
                    <td>Test Result(%)</td>
                    <td>Condition</td>
                  </tr>
                  <tr>
                    <td>{{</td>
                    <td>{{</td>
                    <td>{{</td>
                    <td><input type="number" min="0.00" max="99.99" class="form-control" id="warehouseid" placeholder="Test Result"></td>
                    <td>
                      <select class="form-control" id="warehouseid" placeholder="Select">
                        <option>Select</option>
                        <option>Grade 1</option>
                        <option>Grade 2</option>
                      </select></td>
                  </tr>
                  <tr>
                    <td>Foreign Matter , other oil seeds</td>
                    <td>IS 3579: 1966, Reaff 2006</td>
                    <td>%</td>
                    <td><input type="number" min="0.00" max="99.99" class="form-control" id="warehouseid" placeholder="Test Result"></td>
                    <td><select class="form-control" id="warehouseid" placeholder="Select">
                        <option>Select</option>
                        <option>Grade 1</option>
                        <option>Grade 2</option>
                      </select></td>
                  </tr>
                  <tr>
                    <td>Oil</td>
                    <td>IS 3579: 1966, Reaff 2006</td>
                    <td>%</td>
                    <td><input type="number" min="0.00" max="99.99" class="form-control" id="warehouseid" placeholder="Test Result"></td>
                    <td><select class="form-control" id="warehouseid" placeholder="Select">
                        <option>Select</option>
                        <option>Grade 1</option>
                        <option>Grade 2</option>
                      </select></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label for="ccnumber">Variety</label>
              <select class="form-control" id="warehouseid" placeholder="Select">
                <option>Select</option>
                <option>Grade 1</option>
                <option>Grade 2</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="ccnumber">Others</label>
              <textarea id="textarea-input" name="textarea-input" class="form-control" placeholder="" rows="1"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success btn_save">Send</button>
      </div>
    </div>
  </div>
</div>
<!-- Lab Asst fill detail End -->