<Section id="page_heading">
    <div class="page-heading">
        <div class="row margin-left-right">
            <div class="col-md-6 col-sm-6">
        <h1 class="Enter-details">
          PRODUCT LIST
        </h1>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="form-group">
            <input class="form-control autocomplete" [(ngModel)]="searchValue"
            (input)="onSearchChange(searchValue)" placeholder="Search by Kisan Name & No."
             style="border: 1px solid #00670c;" />
            <a (click)="clearSearch()">
              <i class="fa fa-close close_btn"></i>
          </a>
          </div>
        </div>
              
              <div class="col-sm-3 col-md-3">
                <a routerLink="/superAdmin/addproduct"> 
                <button type="button" class="btn btn-block btn-success active" aria-pressed="true" 
                style="background: #00670c;margin-left: -5px;padding: 6px 6px;">Add New Product</button>
                </a> 
              </div>
              <div class="clearfix"></div>
    </div>
    </div>
  </Section>
  
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 col-sm-12 margin-left-right">
        <div class="card" style="margin-bottom: 0px;">
          <div class="row">
            <div class="col-md-4 offset-md-8">
              <div class="pagination-outer" style="float: right;margin-right: 5px;">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item" [ngClass]="{'disabled':updatedData.prev === true}">
                          <span class="page-link"  (click)="prevAndNext('prev' ,false )">&laquo;</span>
                        </li>
                        <li class="page-item active">
                          <span class="page-link">
                            {{updatedData.currentPage}}
                            <span class="sr-only">(current)</span>
                          </span>
                        </li>
                        <li class="page-item" [ngClass]="{'disabled':updatedData.next === true}">
                          <span class="page-link"  (click)="prevAndNext('next' ,false )">&raquo;</span>
                        </li>
                        <li class="page-item"><a class="page-link" style="pointer-events: none;color: #00670c;">{{updatedData.from}}-{{updatedData.to}} of {{updatedData.total}}</a></li>
                      </ul>
                </nav>
              </div>
              </div>
            </div>
          <div class="card-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 margin-left-right">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price Range (₹)</th>
                        <th scope="col">On Rent(GST - HSN/SAC)</th>
                        <th scope="col">On Sale(GST - HSN/SAC)</th>
                        <th scope="col">Mandi Tax(₹)</th>
                        <th scope="col">Bag Charge(₹)</th>
                        <th scope="col">Created Date</th>
                        <th scope="col" style="color:#00670c;">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let cif of updatedData.list">
                        <td>{{cif.name}}</td> 
                        <td>{{cif.price.start}} - {{cif.price.end}}</td>
                        <td>{{cif.onRent.gst}} - {{cif.onRent.hsnSac}}</td>
                        <td>{{cif.onSale.gst}} - {{cif.onRent.hsnSac}}</td>
                        <td>{{cif.mandiTax}}</td>
                        <td>{{cif.bagCharge}}</td>
                        <td>{{cif.createdAt | date :'MMM ,dd yyyy'}}</td>
                        <td><div class="row">
                          <div class="col-md-6 col-sm-6 cif-list-icon"><a routerLink="/superAdmin/updateproduct">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></div>
                          <div class="col-md-6 col-sm-6 cif-list-icon"><i class="fa fa-trash-o" data-toggle="modal"
                            data-target="#deleteProduct" aria-hidden="true" style="color: red;"></i></div>
                      </div></td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
                </div>
              </div>
             </div>
      </div>
    </div>

      <!-- Delete Mandi Modal -->
<div id="deleteProduct" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-success" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Delete Product</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              </div>
  <!-- model body section -->
          <div class="modal-body" style="text-align: center;">
            <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="inline-part-down">
                  <div class="form-group row">
                    <p style="margin-left: 13px;">Do you want to delete this product ?</p>
                  </div>
                </div>
            </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary">Yes</button>
            <button type="button" class="btn btn-success btn_save" data-dismiss="modal">No</button>
          </div>
    </div>
    </div>
    </div>
  <!-- Delete Mandi End -->
  
  
  
  
  
