<Section id="page_heading">
  <div class="page-heading">
      <div class="row margin-left-right">
          <div class="col-md-4 col-sm-4">
      <h1 class="Enter-details">
        INVOICE HISTORY
      </h1>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="form-group">
                <input class="form-control autocomplete" placeholder="search" style="border: 1px solid #00670c;" />
              </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="form-group">
                <input class="form-control autocomplete" placeholder="search" style="border: 1px solid #00670c;" />
              </div>
      </div>
       <div class="col-sm-2 col-md-2">
                <div class="form-group">
                    <!-- <label for="sel1">Select list:</label> -->
                    <select class="form-control" style="border: 1px solid #00670c;">
                      <option>Select Month</option>
                      <option>Jan</option>
                      <option>Feb</option>
                    </select>
                  </div>
            </div>
            <div class="col-sm-2 col-md-2">
              <div class="form-group">
                  <!-- <label for="sel1">Select list:</label> -->
                  <select class="form-control" style="border: 1px solid #00670c;">
                    <option>Select Year</option>
                    <option>2021</option>
                    <option>2020</option>
                  </select>
                </div>
          </div>
            <div class="clearfix"></div>
  </div>
</div>
</Section>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-sm-12 margin-left-right">
      <div class="card" style="margin-bottom: 0px;">
        <!-- <div class="row">
          <div class="col-md-4 offset-md-8">
          <div class="pagination-outer" style="float: right;margin-right: 5px;">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item disabled">
                          <span class="page-link">&laquo;</span>
                        </li>
                        <li class="page-item active">
                          <span class="page-link">
                            1
                            <span class="sr-only">(current)</span>
                          </span>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">&raquo;</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1-10 of 1100</a></li>
                      </ul>
                </nav>
              </div>
            </div>
          </div> -->
        <div class="card-body">
          <div class="row">
              <div class="col-md-12 col-sm-12 margin-left-right">
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Invoice No.</th>
                      <th scope="col">Cif No.</th>
                      <th scope="col">User</th>
                      <th scope="col">User Type</th>
                      <th scope="col">Mandi</th>
                      <th scope="col">Product</th>
                      <th scope="col">Gst</th>
                      <th scope="col">Warehouse Rent</th>
                      <th scope="col">Billing Month</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>CGRCML/M/S/117-2469-2469</td> 
                      <td>102203</td>
                      <td>RK Warehouse</td>
                      <td>Trader</td>
                      <td>M/s Chiraag Logistic Private Limited</td>
                      <td>Cowpeas - Mandi Paid</td>
                      <td>0</td>
                      <td>3471.00</td>
                      <td>October-2018</td>
                      <td>Active</td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
              </div>
            </div>
            </div>
    </div>
  </div>