<Section id="page_heading">
    <div class="page-heading">
        <div class="row margin-left-right">
            <div class="col-md-12 col-sm-12">
        <h1 class="Enter-details">
          ADD SURVEY FORM
        </h1>
        </div>
        </div>
    </div>
  </Section>
  <div class="animated fadeIn">
      <div class="row">
        <div class="col-md-12 col-sm-12 margin-left-right">
       <div id="cssmenu">  
          <ul>
              <li ><a href="#">WH measurement</a></li>
              <li ><a href="#">Surrounded by</a></li>
              <li ><a href="#">near me</a></li>
              <li ><a href="#">manpower</a></li>
              <li><a href="#">WH structure</a></li>
              <li class="disabled"><a href="#">WH detail</a></li>
              <li class="active"><a href="#">ownership</a></li>
              <li class="fill"><a href="#">State</a></li>
          </ul>
       </div> 
  </div>
      </div>
  </div>
  
  <!-- form state detail-->
  <div class="animated fadeIn">
          <div class="row">
              <div class="col-md-12 col-sm-12 margin-left-right">
                  <div class="card-detail">
                    <div class="card-header">
                      <strong>State Details</strong>
                      <!-- <small>Form</small> -->
                    </div>
                    <div class="card-body">
                      <div class="row">
                          <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                          <label for="name">State Name</label>
                          <select class="form-control" id="warehouseid" placeholder="Select">
                          <option>Select</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                          </select>
                          </div>
                          </div>
                          <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                          <label for="name">District Name</label>
                          <select class="form-control" id="warehouseid" placeholder="Select">
                          <option>Select</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                          </select>
                          </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6 col-sm-6">
                          <div class="form-group hide-down">
                          <label for="name">Location</label>
                          <select class="form-control" id="warehouseid" placeholder="Select">
                          <option>Select</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                          </select>
                          </div>
                          </div>
                          <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                              <label for="ccnumber">Date</label>
                              <input type="text" class="form-control" id="warehouseid" placeholder="">
                          </div>
                          </div>
                      </div>
                        </div>
                  </div>
              </div>
          </div>
  </div>
  <!-- form state detail end -->
  
  <!-- ownership detail-->
  <div class="animated fadeIn">
          <div class="row">
              <div class="col-md-12 col-sm-12 margin-left-right">
                  <div class="card-detail">
                    <div class="card-header">
                      <strong>Ownership Details</strong>
                      <!-- <small>Form</small> -->
                    </div>
                    <div class="card-body">
                          <div class="row">
                            <div class="col-md-6 col-sm-6">
                              <div class="form-group">
                                <label for="name">Constitution of warehouses</label>
                                <select class="form-control" id="warehouseid" placeholder="Select">
                                  <option>Select</option>
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                  <option>6</option>
                                  <option>7</option>
                                  <option>8</option>
                                  <option>9</option>
                                  <option>10</option>
                                  <option>11</option>
                                  <option>12</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                              <div class="form-group">
                                  <label for="name">Owner Name</label>
                                  <div class="row">
                                  <div class="col-md-8">
                                          <input type="" name="" class="form-control" placeholder="HSN/SAC" value="">
                                  </div>
                                  <div class="col-md-2">
                                      <i class="fa fa-plus test-para" aria-hidden="true"></i>
                                  </div>
                                  <div class="col-md-2">
                                        <!-- <i class="fa fa-minus test-para" aria-hidden="true"></i> -->
                                  </div>
                                  </div>
                                  
                                  <div class="row addnew">
                                    <div class="col-md-8">
                                          <input type="" name="" class="form-control" placeholder="HSN/SAC" value="">
                                    </div>
                                    <div class="col-md-2">
                                      <i class="fa fa-plus test-para" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-2">
                                      <i class="fa fa-minus test-para" aria-hidden="true"></i>
                                    </div>
                                  </div>
                              </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                  <label for="name">Ownership documents</label>
                                  <input type="text" class="form-control" id="warehouseid" placeholder="">
                                  </div>
                                </div>
                            <div class="col-md-6 col-sm-6">
                              <div class="form-group">
                                <label for="ccnumber">Contact number</label>
                                <input type="text" class="form-control" id="warehouseid" placeholder="mobile number">
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
          </div>
  </div>
  <!-- ownership detail end -->
  
  <!-- Warehouse detail-->
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 col-sm-12 margin-left-right">
        <div class="card-detail">
          <div class="card-header">
            <strong>Warehouse Details</strong>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                      <label for="name">Name of warehouse</label>
                      <select class="form-control" id="warehouseid" placeholder="Select">
                      <option>Select</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      </select>
                  </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                      <label for="name">Address</label>
                      <textarea id="textarea-input" name="textarea-input" class="form-control" placeholder="" rows="1"></textarea>
                  </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                      <label for="name">Pin code</label>
                      <input type="text" class="form-control" id="warehouseid" placeholder="Pin code">
                      </div>
                  </div>
                      <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                          <label for="ccnumber">Contact number</label>
                          <input type="text" class="form-control" id="warehouseid" placeholder="Contact number">
                      </div>
                      </div>
                  </div>
              <div class="row">
                  <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                      <label for="name">Live wiring inside the out door</label>
                      <select class="form-control" id="warehouseid" placeholder="Select">
                      <option>Select</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      </select>
                  </div>
                      </div>
                  <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                      <label for="name">Method of power supply</label>
                      <select class="form-control" id="warehouseid" placeholder="Select">
                      <option>Select</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      </select>
                  </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6 col-sm-6">
                      <div class="form-group hide-down">
                      <label for="name">Lighting facility around the warehouse</label>
                      <select class="form-control" id="warehouseid" placeholder="Select">
                      <option>Select</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      </select>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                      <div class="form-group hide-down">
                      <label for="name">Fire fighting equipment</label>
                      <select class="form-control" id="warehouseid" placeholder="Select">
                      <option>Select</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      </select>
                      </div>
                  </div>
              </div>
              <div class="row">
              <div class="col-md-6 col-sm-6">
              <div class="form-group headname" style="z-index: 0;position: relative;">
                  <label for="name">Fire Fighting Equipment</label>
              </div>
              </div>
              </div>
              <div class="row">
                  <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                      <div class="row">
                      <div class="col-md-6 col-sm-6">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="warehouseid" placeholder="Name">
                      </div>
                      <div class="col-md-6 col-sm-6">
                      <label for="name">Expiry date</label>
                      <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
                      </div>
                      </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                      <label for="name">Expired</label>
                      <div class="row">
                      <div class="col-md-8">
                      <select class="form-control" id="warehouseid" placeholder="Select">
                          <option>Select</option>
                          <option>1</option>
                          <option>2</option>
                          <option>1</option>
                          <option>2</option>
                          <option>1</option>
                          <option>2</option>
                      </select>
                      </div>
                      <div class="col-md-2">
                          <i class="fa fa-plus test-para" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-2">
                          <!-- <i class="fa fa-minus test-para" aria-hidden="true"></i> -->
                      </div>
                      </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                      <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                          <div class="row">
                          <div class="col-md-6 col-sm-6">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" id="warehouseid" placeholder="Name">
                          </div>
                          <div class="col-md-6 col-sm-6">
                          <label for="name">Expiry date</label>
                          <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
                          </div>
                          </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                          <div class="form-group hide-down">
                          <label for="name">Expired</label>
                          <div class="row">
                          <div class="col-md-8">
                          <select class="form-control" id="warehouseid" placeholder="Select">
                              <option>Select</option>
                              <option>1</option>
                              <option>2</option>
                              <option>1</option>
                              <option>2</option>
                              <option>1</option>
                              <option>2</option>
                          </select>
                          </div>
                          <div class="col-md-2">
                              <i class="fa fa-plus test-para" aria-hidden="true"></i>
                          </div>
                          <div class="col-md-2">
                              <i class="fa fa-minus test-para" aria-hidden="true"></i>
                          </div>
                          </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <!-- Warehouse detail end -->
  
  <!-- Warehouse structure detail-->
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 col-sm-12 margin-left-right">
        <div class="card-detail">
          <div class="card-header">
          <strong>Warehouse structure</strong>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                  <label for="name">Flooring type</label>
                  <select class="form-control" id="warehouseid" placeholder="Select">
                  <option>Select</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  </select>
                  </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                  <label for="name">Roof type</label>
                  <select class="form-control" id="warehouseid" placeholder="Select">
                  <option>Select</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  </select>
                  </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                  <label for="name">No. of chamber</label>
                  <input type="text" class="form-control" id="warehouseid" placeholder="">
                  </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                  <label for="ccnumber">No. of shutters</label>
                  <input type="text" class="form-control" id="warehouseid" placeholder="">
                  </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                  <label for="name">No. of windows/ventilators</label>
                  <input type="text" class="form-control" id="warehouseid" placeholder="">
                  </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                  <label for="ccnumber">Condition of window/ventilators</label>
                  <select class="form-control" id="warehouseid" placeholder="Select">
                      <option>Select</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                  </select>
                  </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                  <label for="name">Compound boundry wall</label>
                  <select class="form-control" id="warehouseid" placeholder="Select">
                  <option>Select</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  </select>
                  </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                  <label for="name">Availability of drain channel</label>
                  <select class="form-control" id="warehouseid" placeholder="Select">
                  <option>Select</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  </select>
                  </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                  <label for="name">In-house security</label>
                  <select class="form-control" id="warehouseid" placeholder="Select">
                  <option>Select</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  </select>
                  </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                  <label for="name">Guard room availability</label>
                  <select class="form-control" id="warehouseid" placeholder="Select">
                  <option>Select</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  </select>
                  </div>
                  </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Warehouse structure detail end -->
  <!-- manpower detail-->
  <div class="animated fadeIn">
          <div class="row">
              <div class="col-md-12 col-sm-12 margin-left-right">
                  <div class="card-detail">
                    <div class="card-header">
                      <strong>Manpower requirement</strong>
                      <!-- <small>Form</small> -->
                    </div>
                    <div class="card-body">
                      <div class="row">
                          <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                          <label for="name">Guard</label>
                          <select class="form-control" id="warehouseid" placeholder="Select">
                          <option>Select</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          </select>
                          </div>
                          </div>
                          <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                          <label for="name">Supervisor</label>
                          <select class="form-control" id="warehouseid" placeholder="Select">
                          <option>Select</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          </select>
                          </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                          <label for="name">No. of Guard</label>
                          <input type="text" class="form-control" id="warehouseid" placeholder="">
                          </div>
                          </div>
                          <div class="col-md-6 col-sm-6">
                          <!-- <div class="form-group">
                              <label for="ccnumber">Date</label>
                              <input type="text" class="form-control" id="warehouseid" placeholder="">
                          </div> -->
                          </div>
                      </div>
                        </div>
                  </div>
              </div>
          </div>
  </div>
  <!-- manpower detail end -->
  <!-- name & distance detail-->
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 col-sm-12 margin-left-right">
      <div class="card-detail">
          <div class="card-header">
          <strong>Nearest name & distance (in km)</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-sm-6">
              <div class="form-group headname">
                  <label for="name">Railway Station</label>
              </div>
              </div>
              <div class="col-md-6 col-sm-6">
              <div class="form-group headname">
                  <label for="name">Police Station</label>
              </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
             <div class="row">
              <div class="col-md-3 col-sm-3">
              <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="">
              </div>
              </div>
              <div class="col-md-3 col-sm-3">
              <div class="form-group">
              <label for="ccnumber">Distance</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="">
              </div>
              </div>
              <div class="col-md-3 col-sm-3">
              <div class="form-group">
              <label for="ccnumber">Name</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="">
              </div>
              </div>
              <div class="col-md-3 col-sm-3">
              <div class="form-group">
              <label for="ccnumber">Distance</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="">
              </div>
              </div>
             </div>
            </div>
          </div>
          <div class="row">
          <div class="col-md-6 col-sm-6">
          <div class="form-group headname">
              <label for="name">Bus Station</label>
          </div>
          </div>
          <div class="col-md-6 col-sm-6">
          <div class="form-group headname">
              <label for="name">Hospital</label>
          </div>
          </div>
          </div>
          <div class="row">
              <div class="col-md-12 col-sm-12">
              <div class="row">
              <div class="col-md-3 col-sm-3">
              <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="">
              </div>
              </div>
              <div class="col-md-3 col-sm-3">
              <div class="form-group">
              <label for="ccnumber">Distance</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="">
              </div>
              </div>
              <div class="col-md-3 col-sm-3">
              <div class="form-group">
              <label for="ccnumber">Name</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="">
              </div>
              </div>
              <div class="col-md-3 col-sm-3">
              <div class="form-group">
              <label for="ccnumber">Distance</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="">
              </div>
              </div>
              </div>
              </div>
          </div>
          <div class="row">
                  <div class="col-md-6 col-sm-6">
                  <div class="form-group headname">
                      <label for="name">Fire Station</label>
                  </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                  <div class="form-group headname">
                      <label for="name">APMC/Mandi</label>
                  </div>
                  </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12 col-sm-12">
                      <div class="row">
                      <div class="col-md-3 col-sm-3">
                      <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="warehouseid" placeholder="">
                      </div>
                      </div>
                      <div class="col-md-3 col-sm-3">
                      <div class="form-group">
                      <label for="ccnumber">Distance</label>
                      <input type="text" class="form-control" id="warehouseid" placeholder="">
                      </div>
                      </div>
                      <div class="col-md-3 col-sm-3">
                      <div class="form-group">
                      <label for="ccnumber">Name</label>
                      <input type="text" class="form-control" id="warehouseid" placeholder="">
                      </div>
                      </div>
                      <div class="col-md-3 col-sm-3">
                      <div class="form-group">
                      <label for="ccnumber">Distance</label>
                      <input type="text" class="form-control" id="warehouseid" placeholder="">
                      </div>
                      </div>
                      </div>
                      </div>
                  </div>
          </div>
      </div>
      </div>
    </div>
  </div>
  <!-- name & distance end -->
  
  <!-- Surrounded by detail-->
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 col-sm-12 margin-left-right">
        <div class="card-detail">
          <div class="card-header">
          <strong>Surrounded by</strong>
          </div>
          <div class="card-body">
          <div class="row">
              <div class="col-md-6 col-sm-6">
              <div class="form-group">
              <label for="name">Area</label>
              <select class="form-control" id="warehouseid" placeholder="Select">
              <option>Select</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              </select>
              </div>
              </div>
              <div class="col-md-6 col-sm-6">
              <div class="form-group">
              <label for="name">Gate</label>
              <select class="form-control" id="warehouseid" placeholder="Select">
              <option>Select</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              </select>
              </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-sm-6">
              <div class="form-group">
              <label for="name">Factory within same compound</label>
              <select class="form-control" id="warehouseid" placeholder="Select">
              <option>Select</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              </select>
              </div>
              </div>
              <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label for="ccnumber">Current Status</label>
                <select class="form-control" id="warehouseid" placeholder="Select">
                  <option>Select</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-sm-6">
              <div class="form-group">
              <label for="name">In house weighment</label>
              <select class="form-control" id="warehouseid" placeholder="Select">
              <option>Select</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              </select>
              </div>
              </div>
              <div class="col-md-6 col-sm-6">
              <!-- <div class="form-group">
                  <label for="ccnumber">Current Status</label>
                  <select class="form-control" id="warehouseid" placeholder="Select">
                  <option>Select</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  </select>
              </div> -->
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-sm-6">
              <div class="form-group">
              <label for="name">Recommend</label>
              <select class="form-control" id="warehouseid" placeholder="Select">
              <option>Select</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              </select>
              </div>
              </div>
              <div class="col-md-6 col-sm-6">
               <div class="form-group">
                <label for="name"> Description</label>
                <textarea id="textarea-input" name="textarea-input" class="form-control" placeholder="" rows="1"></textarea>  
              </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Surrounded by end -->
  
  <!-- name & distance detail-->
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 col-sm-12 margin-left-right">
        <div class="card-detail">
          <div class="card-header">
          <strong>Warehouse measurement</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                  <div class="form-group headname">
                      <label for="name">Godown</label>
                  </div>
              </div>
              <div class="col-md-6 col-sm-6">
                  <!-- <div style="float: right;">
              <div class="view-inline tag-btn text-center" >
                  <div class="button-border">
                      <a class="btn btn-border">Add Godown</a>
                  </div>
              </div>
              </div> -->
              </div>  
            </div>
          <div class="row">
              <div class="col-md-6 col-sm-6">
              <div class="form-group headname">
                  <label for="name">Chamber</label>
              </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="btn-group btn-group-toggle" data-toggle="buttons" style="float: right;">
                  <label class="btn btn-secondary">
                          <i class="fa fa-plus test-para" aria-hidden="true"></i>
                  </label>
                  <!-- <label class="btn btn-secondary active btn-active disabled">
                          <i class="fa fa-minus test-para" aria-hidden="true"></i>
                  </label> -->
                </div>
              </div>
          </div>
          <div class="row">
          <div class="col-md-12 col-sm-12">
              <div class="row">
              <div class="col-md-3 col-sm-3">
              <div class="form-group">
              <label for="name">Height</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="In Ft">
              </div>
              </div>
              <div class="col-md-3 col-sm-3">
              <div class="form-group">
              <label for="ccnumber">Width</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="In Ft">
              </div>
              </div>
              <div class="col-md-3 col-sm-3">
              <div class="form-group">
              <label for="ccnumber">Length</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="In Ft">
              </div>
              </div>
              <div class="col-md-3 col-sm-3">
              <div class="form-group">
              <label for="ccnumber">Total Sqft</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="In Ft">
              </div>
              </div>
              </div>
          </div>
          </div>
          <div class="row">
              <div class="col-md-12 col-sm-12">
                  <div class="row">
                  <div class="col-md-3 col-sm-3">
                  <div class="form-group">
                  <label for="name">Total Mt</label>
                  <input type="text" class="form-control" id="warehouseid" placeholder="In Ft">
                  </div>
                  </div>
                  <div class="col-md-3 col-sm-3">
                  <div class="form-group">
                  <label for="ccnumber">Rent per sqft/mt</label>
                  <select class="form-control" id="warehouseid" placeholder="Select">
                  <option>Select</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  </select>
                  </div>
                  </div>
                  <div class="col-md-3 col-sm-3">
                  <div class="form-group">
                  <label for="ccnumber">Franchised/Rented</label>
                  <select class="form-control" id="warehouseid" placeholder="Select">
                  <option>Select</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  </select>
                  </div>
                  </div>
                  <div class="col-md-3 col-sm-3">
                  <div class="form-group">
                  <label for="ccnumber">Plinth Height</label>
                  <input type="text" class="form-control" id="warehouseid" placeholder="In Ft">
                  </div>
                  </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- name & distance end -->
  
  <div class="view-inline tag-btn text-center">
          <div class="button-border">
              <a class="btn btn-border">Save</a>
              <a class="btn btn-border">Next</a>
          </div>
  </div>