<!-- for panding and complete form -->

<Section id="page_heading">
  <div class="row">
    <div class="col-md-12 col-sm-12 margin-left-right">
      <div class="page-heading">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h1 class="Enter-details">
              Verify Details
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</Section>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-sm-12 margin-left-right">
      <div class="card" style="margin-bottom: 0px;">
        <!-- <div class="row"> -->
        <div class="card-body list-view">
          <div class="row">
            <div class="col-md-12 col-sm-12 margin-left-right">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <label class="list-left">Warehouse Name</label>
                  <span class="list-right">Gurukrapa Warehouse</span>
                </div>
                <div class="col-md-6 col-sm-6">
                  <label class="list-left">Warehouse Id</label>
                  <span class="list-right">CGRCML/GUR/235</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <label class="list-left">Commodity</label>
                  <span class="list-right">Paddy - Mandi Paid</span>
                </div>
                <!-- <div class="col-md-6 col-sm-6">
                <label class="list-left">Old Wr Number</label>
                <span class="list-right">0</span>
              </div> -->
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <label class="list-left">Name Of Depositor</label>
                  <span class="list-right">Jain flour mill</span>
                </div>
                <div class="col-md-6 col-sm-6">
                  <label class="list-left">Contact No</label>
                  <span class="list-right">9685087215</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <label class="list-left">Depositor Address</label>
                  <span class="list-right">New bus stand , mou road,gohad ,bhind, mp</span>
                </div>
                <div class="col-md-6 col-sm-6">
                  <label class="list-left">DP Name</label>
                  <span class="list-right">--</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <label class="list-left">Client ID</label>
                  <span class="list-right">--</span>
                </div>
                <div class="col-md-6 col-sm-6">
                  <label class="list-left">Storage Type</label>
                  <span class="list-right">FUNDING (UCO BANK)</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <label class="list-left">Market Rate (₹)</label>
                  <span class="list-right">2800</span>
                </div>
                <div class="col-md-6 col-sm-6">
                  <label class="list-left">Total Quantity(Qt.)</label>
                  <span class="list-right">195.000</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <label class="list-left">Value of Commodity (₹)</label>
                  <span class="list-right">546000</span>
                </div>
                <div class="col-md-6 col-sm-6">
                  <label class="list-left">Case Type</label>
                  <span class="list-right">CM</span>
                </div>
              </div>
              <!-- for pending -->
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <label class="list-left">Bag Charge(₹)</label>
                  <span class="list-right">54</span>
                </div>
                <div class="col-md-6 col-sm-6">
                  <label class="list-left">Cleaning Charge(₹)</label>
                  <span class="list-right">55</span>
                </div>
              </div>
              <!-- close for pending -->
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <label class="list-left">Warehouse Rent(₹)</label>
                  <span class="list-right">--</span>
                </div>
                <!-- <div class="col-md-6 col-sm-6">
                <label class="list-left">--</label>
                <span class="list-right">--</span>
              </div> -->
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <label class="list-left">Rent(as per)</label>
                  <span class="list-right">--</span>
                </div>
                <div class="col-md-6 col-sm-6">
                  <label class="list-left">Rent Billing</label>
                  <span class="list-right">--</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="profile-block">
                    <div class="m-b-0" style="text-align: center;position: relative;height: 165px;margin: 20px auto;">
                      <img style="width: 250px;height: 150px;border-radius: 3%;" src="assets\img\avatars\def_img.png"
                        id="fullImg">
                      <figcaption>Full Stack image</figcaption>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="profile-block">
                    <div class="m-b-0" style="text-align: center;position: relative;height: 165px;margin: 20px auto;">
                      <img style="width: 250px;height: 150px;border-radius: 3%;" src="assets\img\avatars\def_img.png"
                        id="fullImg">
                      <figcaption>Stack card image</figcaption>
                    </div>
                  </div>
                </div>
              </div>
              <!-- </div>     -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-sm-12 margin-left-right">
      <div class="card" style="margin-bottom: 0px;">
        <div class="detail-header">
          <strong>Vehicle Details</strong>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-12 col-sm-12 margin-left-right">

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Vehicle No.</th>
                    <th scope="col">Total Weight (Vehicle+Goods in MT)</th>
                    <th scope="col">Gross Weight of Commodity (MT) (incl. of gunnies)</th>
                    <th scope="col">Weight of Empty Vehicle(MT)</th>
                    <th scope="col">No. of Bags</th>
                    <th scope="col">Weighbridge name & slip No</th>
                    <th scope="col">Gate Pass No.</th>
                    <th scope="col">Name of Supplier/Agent.</th>
                    <th scope="col">Location of Supplier/Agent.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Dip digging</td>
                    <td>19.500</td>
                    <td>0.000</td>
                    <td>19.500</td>
                    <td>300</td>
                    <td>300</td>
                    <td>Dip digging</td>
                    <td>Dip digging</td>
                    <td>Dip digging</td>
                  </tr>
                </tbody>
                <tbody class="total">
                  <tr>
                    <th>Total</th>
                    <td>19.500</td>
                    <td>19.500</td>
                    <td>19.500</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-sm-12 margin-left-right">
      <div class="card" style="margin-bottom: 0px;">
        <div class="detail-header">
          <strong>Stack Details</strong>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-12 col-sm-12 margin-left-right">

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Godown No.</th>
                    <th scope="col">No. of Bags</th>
                    <th scope="col">No. Stack No.</th>
                    <th scope="col">Lot No.</th>
                    <th scope="col">Stnd Weight Per Bag.(incl. of Gunnies)</th>
                    <th scope="col">Truck Number/Supplier Name as per the requirement of CMPs.</th>
                    <!-- <th scope="col">Gate Pass No.</th>
                            <th scope="col">Name of Supplier/Agent.</th>
                            <th scope="col">Location of Supplier/Agent.</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>19</td>
                    <td>1</td>
                    <td>19</td>
                    <td>300</td>
                    <td>Dip digging</td>
                    <!-- <td>Dip digging</td>
                            <td>Dip digging</td> -->
                  </tr>
                </tbody>
                <tbody class="total">
                  <tr>
                    <th>Total</th>
                    <td>190</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="view-inline tag-btn text-center">
  <div class="button-border">
    <a class="btn btn-border">Verify</a>
  </div>
</div>