<!-- for panding and complete form -->

<Section id="page_heading">
  <div class="page-heading">
      <div class="row margin-left-right">
          <div class="col-md-12 col-sm-12">
      <h1 class="Enter-details">
          RO CWF Details
      </h1>
      </div>
  </div>
  </div>
</Section>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-sm-12 margin-left-right">
      <div class="card" style="margin-bottom: 0px;">
        <!-- <div class="row"> -->
          <div class="card-body list-view">
            <div class="row">
              <div class="col-md-12 col-sm-12 margin-left-right">
                  <form action="" method="post" class="form-horizontal">
                  <div class="row">
                    <div class="col-sm-6">
                    <div class="form-group row">
                     <label class="col-md-4 col-form-label">WR/SR NO.</label>
                      <div class="col-md-8">
                        <input type="" name="" class="form-control" placeholder="WR/SR NO." value="11122">
                      </div> 
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-md-4 col-form-label">Withdrawal Appr. No.</label>
                          <div class="col-md-8">
                            <input type="" name="" class="form-control" placeholder="Withdrawal Appr. No." value="CGRCML">
                          </div> 
                          </div>
                    </div>
                   </div>
                   <div class="row">
                      <div class="col-sm-6">
                      <div class="form-group row">
                       <label class="col-md-4 col-form-label">Warehouse Name</label>
                        <div class="col-md-8">
                          <input type="" name="" class="form-control" placeholder="WR/SR NO." value="Sona Food products">
                        </div> 
                        </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group row">
                            <label class="col-md-4 col-form-label">Warehouse Id</label>
                            <div class="col-md-8">
                              <input type="" name="" class="form-control" placeholder="Withdrawal Appr. No." value="CGRCML/THE/192">
                            </div> 
                            </div>
                      </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-6">
                        <div class="form-group row">
                         <label class="col-md-4 col-form-label">Name Of Depositor</label>
                          <div class="col-md-8">
                            <input type="" name="" class="form-control" placeholder="Name Of Depositor" value="Sona Food products">
                          </div> 
                          </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                              <label class="col-md-4 col-form-label">Contact No</label>
                              <div class="col-md-8">
                                <input type="" name="" class="form-control" placeholder="Contact No" value="9373227751">
                              </div> 
                              </div>
                        </div>
                       </div>
                       <div class="row">
                          <div class="col-sm-6">
                          <div class="form-group row">
                           <label class="col-md-4 col-form-label">Depositor Address</label>
                            <div class="col-md-8">
                                <textarea id="textarea-input" name="textarea-input" class="form-control" placeholder="" rows="1">
                                </textarea>
                            </div> 
                            </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="form-group row">
                                <label class="col-md-4 col-form-label">Commodity Name</label>
                                <div class="col-md-8">
                                  <input type="" name="" class="form-control" placeholder="Commodity Name" value="Paddy - Mandi Paid">
                                </div> 
                                </div>
                          </div>
                         </div>
                         <div class="row">
                            <div class="col-sm-6">
                            <div class="form-group row">
                             <label class="col-md-4 col-form-label">Case Type</label>
                              <div class="col-md-8">
                                <input type="" name="" class="form-control" placeholder="Case Type" value="CM">
                              </div> 
                              </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                  <label class="col-md-4 col-form-label">Total Quantity</label>
                                  <div class="col-md-8">
                                    <input type="" name="" class="form-control" placeholder="Total Quantity" value="396.8">
                                  </div> 
                                  </div>
                            </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-6">
                              <div class="form-group row">
                               <label class="col-md-4 col-form-label">Total Bags</label>
                                <div class="col-md-8">
                                  <input type="" name="" class="form-control" placeholder="Total Bags" value="992">
                                </div> 
                                </div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="form-group row">
                                    <label class="col-md-4 col-form-label">Release Quantity</label>
                                    <div class="col-md-8">
                                      <input type="" name="" class="form-control" placeholder="Release Quantity" value="396.800">
                                    </div> 
                                    </div>
                              </div>
                             </div>
                             <div class="row">
                                <div class="col-sm-6">
                                <div class="form-group row">
                                 <label class="col-md-4 col-form-label">Release Bags</label>
                                  <div class="col-md-8">
                                    <input type="" name="" class="form-control" placeholder="Release Bags" value="">
                                  </div> 
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                      <label class="col-md-4 col-form-label">Same WareHouse Transfer</label>
                                      <div class="col-md-8">
                                          <div class="form-check form-check-inline mr-1" id="inline-radios" style="margin-top: 13px;">
                                              <input class="form-check-input my-check-box" type="checkbox" id="checkbox1" value="option1">
                                            </div>
                                      </div> 
                                      </div>
                                </div>
                               </div>
                  </form>
        <div class="clearfix"></div>
          <!-- </div>     -->
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 col-sm-12 margin-left-right">
        <div class="card" style="margin-bottom: 0px;">
            <div class="detail-header">
                <strong>Vehicle Details</strong>
              </div>
          <div class="card-body">
              
            <div class="row">
                <div class="col-md-12 col-sm-12 margin-left-right">
                    
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Vehicle No.</th>
                        <th scope="col">Total Weight (Vehicle+Goods in MT)</th>
                        <th scope="col">Gross Weight of Commodity (MT) (incl. of gunnies)</th>
                        <th scope="col">Weight of Empty Vehicle(MT)</th>
                        <th scope="col">No. of Bags</th>
                        <th scope="col">Weighbridge name & slip No</th>
                        <th scope="col">Gate Pass No.</th>
                        <th scope="col">Name of Supplier/Agent.</th>
                        <th scope="col">Location of Supplier/Agent.</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Dip digging</td>
                        <td>19.500</td>
                        <td>0.000</td>
                        <td>19.500</td>
                        <td>300</td>
                        <td>300</td>
                        <td>Dip digging</td>
                        <td>Dip digging</td>
                        <td>Dip digging</td>
                      </tr>
                    </tbody>
                    <tbody class="total">
                      <tr >
                          <th>Total</th>
                          <td>19.500</td>
                          <td>19.500</td>
                          <td>19.500</td>
                        </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
                </div>
              </div>
              </div>
      </div>
    </div>

    <div class="animated fadeIn">
        <div class="row">
          <div class="col-md-12 col-sm-12 margin-left-right">
            <div class="card" style="margin-bottom: 0px;">
                <div class="detail-header">
                    <strong>Stack Details</strong>
                  </div>
              <div class="card-body">
                  
                <div class="row">
                    <div class="col-md-12 col-sm-12 margin-left-right">
                        
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Godown No.</th>
                            <th scope="col">No. of Bags</th>
                            <th scope="col">No.	Stack No.</th>
                            <th scope="col">Lot No.</th>
                            <th scope="col">Stnd Weight Per Bag.(incl. of Gunnies)</th>
                            <th scope="col">Truck Number/Supplier Name as per the requirement of CMPs.</th>
                            <!-- <th scope="col">Gate Pass No.</th>
                            <th scope="col">Name of Supplier/Agent.</th>
                            <th scope="col">Location of Supplier/Agent.</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>19</td>
                            <td>1</td>
                            <td>19</td>
                            <td>300</td>
                            <td>Dip digging</td>
                            <!-- <td>Dip digging</td>
                            <td>Dip digging</td> -->
                          </tr>
                        </tbody>
                        <tbody class="total">
                            <tr >
                                <th>Total</th>
                                <td>190</td>
                              </tr>
                          </tbody>
                      </table>
                      </div>
                    </div>
                    </div>
                  </div>
                  </div>
          </div>
        </div>

        <div class="view-inline tag-btn text-center">
            <div class="button-border">
                <a class="btn btn-border">Back</a>
                <a class="btn btn-border" data-toggle="modal" data-target="#addvehicle">Add Vehicle Detail</a>
                <a class="btn btn-border" data-toggle="modal" data-target="#addstack">Add Stack Detail</a>
                <a class="btn btn-border">Save data</a>
            </div>
    </div>

    <!-- Add Vehicle Modal -->
<div id="addvehicle" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-success" role="document">
     <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Enter Vehicle details</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              </div>
<!-- model body section -->
         <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <label for="ccnumber">Vehicle Number</label>
                <input type="text" class="form-control" id="warehouseid" placeholder="Enter here">
              </div>
            </div>
            <!-- <div class="col-sm-6">
                <div class="form-group">
                  <label for="ccnumber">Total Weight</label>
                  <input type="text" class="form-control" id="warehouseid" placeholder="Total Weight (vehicle+goods in MT">
                </div>
              </div> -->
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <div class="form-group">
                      <label for="ccnumber">Total Weight</label>
                      <input type="text" class="form-control" id="warehouseid" placeholder="vehicle+goods in MT">
                    </div>
                </div>
              </div>
          <div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                      <!-- <label for="ccnumber">Total Weight</label> -->
                      <input type="text" class="form-control" id="warehouseid" placeholder="0">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <!-- <label for="ccnumber">Total Weight</label> -->
                        <input type="text" class="form-control" id="warehouseid" placeholder="0">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label for="ccnumber">Number of bags</label>
                          <input type="text" class="form-control" id="warehouseid" placeholder="Enter here">
                        </div>
                    </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label for="ccnumber">Weighbridge name & slip no.</label>
                          <input type="text" class="form-control" id="warehouseid" placeholder="Enter here">
                        </div>
                    </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label for="ccnumber">Gate pass no.</label>
                          <input type="text" class="form-control" id="warehouseid" placeholder="Enter here">
                        </div>
                    </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label for="ccnumber">Name of supplier/agent</label>
                          <input type="text" class="form-control" id="warehouseid" placeholder="Enter here">
                        </div>
                    </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label for="ccnumber">Location of supplier/agent</label>
                          <input type="text" class="form-control" id="warehouseid" placeholder="Enter here">
                        </div>
                    </div>
              </div>
          
         </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success btn_save">Add</button>
               </div>
    </div>
    </div>
    </div>
<!-- Add Vehicle Modal End -->

<!-- Add Stack Modal -->
<div id="addstack" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-success" role="document">
     <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Enter Stack details</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
<!-- model body section -->
         <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <label for="ccnumber">Godown Number</label>
                <input type="text" class="form-control" id="warehouseid" placeholder="Enter here">
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="ccnumber">Stack Number</label>
                    <input type="text" class="form-control" id="warehouseid" placeholder="Enter here">
                  </div>
              </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="ccnumber">Lot Number</label>
                    <input type="text" class="form-control" id="warehouseid" placeholder="Enter here">
                  </div>
              </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="ccnumber">Stnd. weight per bag (incl. of Gunnies)</label>
                    <input type="text" class="form-control" id="warehouseid" placeholder="Enter here">
                  </div>
              </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="ccnumber">Number of bags</label>
                    <input type="text" class="form-control" id="warehouseid" placeholder="Enter here">
                  </div>
              </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label for="ccnumber">Select Truck</label>
                <select class="form-control" id="warehouseid" placeholder="Enter here">
                    <option>Select Truck</option>
                    <option>1</option>
                    <option>2</option>
                  </select>
              </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="ccnumber">Location of supplier/agent</label>
                    <input type="text" class="form-control" id="warehouseid" placeholder="Location of supplier/agent">
                  </div>
              </div>
        </div> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success btn_save">Add</button>
        </div>
    </div>
    </div>
    </div>
<!-- Add Stack Modal End -->
