<Section id="page_heading">
  <div class="page-heading">
    <div class="row margin-left-right">
      <!-- <div class="col-md-12 col-sm-12 "> -->
      <!-- <div class="row"> -->
      <div class="col-md-5 col-sm-5">
        <h1 class="Enter-details">
          CIF List
        </h1>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="form-group">
          <input class="form-control autocomplete" [(ngModel)]="searchValue" (input)="onSearchChange(searchValue)"
            placeholder="Search by name,number,cif,wr & commodity" style="border: 1px solid #00670c;" />
          <a (click)="clearSearch()">
            <i class="fa fa-close close_btn"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-3 col-md-3 btn_right">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active btn-active" (click)="onStatusSelectionChange('PENDING')">
            <input type="radio" [checked]="listType === 'PENDING'" name="options" checked> Pending
          </label>
          <label class="btn btn-secondary" (click)="onStatusSelectionChange('COMPLETED')">
            <input type="radio" [checked]="listType === 'COMPLETED'" name="options"> Complete
          </label>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- </div>
    </div> -->
  </div>
</Section>

<!-- pending -->
<div class="animated fadeIn" *ngIf="updatedData">
  <div class="row">
    <div class="col-md-12 col-sm-12 margin-left-right">
      <div class="card" style="margin-bottom: 0px;">
        <div class="row">
          <div class="col-md-4 offset-md-8">
            <div class="pagination-outer" style="float: right;margin-right: 5px;">
              <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item" [ngClass]="{'disabled':updatedData.prev === true}">
                    <span class="page-link" (click)="prevAndNext('prev' ,false )">&laquo;</span>
                  </li>
                  <li class="page-item active">
                    <span class="page-link">
                      {{updatedData.currentPage}}
                      <!-- <span class="sr-only">{{updatedData.page}}</span> -->
                    </span>
                  </li>
                  <li class="page-item" [ngClass]="{'disabled':updatedData.next === true}">
                    <span class="page-link" (click)="prevAndNext('next' ,false )">&raquo;</span>
                  </li>
                  <li class="page-item"><a class="page-link" style="pointer-events: none;color: #00670c;">{{updatedData.from}}-{{updatedData.to}}
                      of {{updatedData.total}}</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 margin-left-right">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">CIF NO.</th>
                    <th scope="col">WR NO.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">User Type</th>
                    <th scope="col">Commodity Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Mandi(WH)</th>
                    <th scope="col">WR Price(₹)</th>
                    <th scope="col">Storage Type</th>
                    <th scope="col">Created</th>
                    <th scope="col">Status</th>
                    <th scope="col" style="color:#00670c;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cif of updatedData.list">
                    <td>{{cif.cifNumber}}</td>
                    <td>{{cif.wrNumber}}</td>
                    <td>{{cif.userId[0].name}}</td>
                    <td>{{cif.userId[0].phoneNumber}}</td>
                    <td>{{cif.userId[0].userType}}</td>
                    <td>{{cif.productId[0].name}}</td>
                    <td>{{cif.wrQuantity | number:'.3-3'}}</td>
                    <td>{{cif.mandiId.name}}</td>
                    <td>{{cif.wrPrice}}</td>
                    <td>{{cif.storageType}}</td>
                    <td>{{cif.createdAt| date :'MMM ,dd yyyy'}}</td>
                    <td><span style="color: #00670c;">New</span></td>
                    <td>
                      <div class="row">
                        <div class="col-md-3 col-sm-3 cif-list-icon"><a routerLink="/cif/showdetails"><i class="fa fa-eye"
                              aria-hidden="true"></i></a></div>
                        <div class="col-md-3 col-sm-3 cif-list-icon"><a routerLink="/cif/editdetails"><i class="fa fa-pencil-square-o"
                              aria-hidden="true"></i></a></div>
                        <div class="col-md-3 col-sm-3 cif-list-icon"><a routerLink="/cif/reportdetails"><i class="fa fa-street-view"
                              aria-hidden="true"></i></a></div>
                        <div class="col-md-3 col-sm-3 cif-list-icon"><a><i class="fa fa-trash-o" aria-hidden="true"
                              style="color: red;"></i></a></div>
                        <!-- <div class="col-md-6 col-sm-6 cif-list-icon"><i class="fa fa-trash-o" aria-hidden="true" style="color: red;"></i></div> -->
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div style="text-align: center;margin-top: 5px;font-size: 25px;color: #00670c; letter-spacing: 3px;text-transform: uppercase;"
          *ngIf="updatedData.list == 0"><img src="assets/img/avatars/list_empty1.png" style="width: 180px;"><br>{{emptyListMsg}}</div>
      </div>
    </div>
  </div>
</div>