.card{
    box-shadow: 0px 2px 2px #888888;
    max-height: 533px;
}
.card-body{
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}
.table-responsive {
    min-height: .01%;
    overflow-x: hidden;
    max-height: 200px;
    overflow-y: scroll; 
}
.lablisttable{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.lablisttable > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #333;
}
.lablisttable > tbody > tr > td {
    vertical-align: bottom;
    border-bottom: 1px solid #333;
    padding: 15px 15px;
}
.lablisttable .badge-default{
    background: #00670c;
    padding: 8px 8px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
}
.form-group .close_btn{
    position: absolute;
    top: 0%;
    line-height: 38px;
    font-size: 14px;
    right: 9%;
    cursor: pointer;
    vertical-align: middle;
}
// rsponsive

@media (min-width: 992px) and (max-width: 1199px){
    .card{
        overflow-x: auto;
    }
    .card .pagination-outer{
        margin-right: 0% !important;
        position: fixed;
        z-index: 999;
        top: 161px;
        right: 33px;
    }
    .card-body {
        margin-top: 40px;
        overflow-y: scroll !important;
        overflow-x: scroll !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .card{
        overflow-x: auto;
    }
    .card .pagination-outer{
        margin-right: 0% !important;
        position: fixed;
        z-index: 999;
        top: 161px;
        right: 33px;
    }
    .card-body {
        margin-top: 40px;
        overflow-y: scroll !important;
        overflow-x: scroll !important;
    }
}