<Section id="page_heading">
  <div class="page-heading">
    <div class="row margin-left-right">
      <div class="col-md-6 col-sm-6">
        <h1 class="Enter-details">
          MANDI LIST
        </h1>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="form-group">
          <input class="form-control autocomplete" [(ngModel)]="searchValue" (input)="onSearchChange(searchValue)"
            placeholder="Search by Kisan Name & No." style="border: 1px solid #00670c;" />
          <a (click)="clearSearch()">
            <i class="fa fa-close close_btn"></i>
          </a>
        </div>
      </div>

      <div class="col-sm-3 col-md-3">

        <button type="button" class="btn btn-block btn-success active" aria-pressed="true" data-toggle="modal"
          data-target="#userDetail" style="background: #00670c;margin-left: -5px;padding: 6px 6px;">Add New Mandi</button>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</Section>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-sm-12 margin-left-right">
      <div class="card" style="margin-bottom: 0px;">
        <div class="row">
          <div class="col-md-4 offset-md-8">
            <div class="pagination-outer" style="float: right;margin-right: 5px;">
              <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item" [ngClass]="{'disabled':updatedData.prev === true}">
                    <span class="page-link" (click)="prevAndNext('prev' ,false )">&laquo;</span>
                  </li>
                  <li class="page-item active">
                    <span class="page-link">
                      {{updatedData.currentPage}}
                      <span class="sr-only">(current)</span>
                    </span>
                  </li>
                  <li class="page-item" [ngClass]="{'disabled':updatedData.next === true}">
                    <span class="page-link" (click)="prevAndNext('next' ,false )">&raquo;</span>
                  </li>
                  <li class="page-item"><a class="page-link" style="pointer-events: none;color: #00670c;">{{updatedData.from}}-{{updatedData.to}}
                      of {{updatedData.total}}</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 margin-left-right">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Mandi I'd</th>
                    <th scope="col">Licence No.</th>
                    <th scope="col">Address</th>
                    <th scope="col">Area Manager</th>
                    <th scope="col">Mandi Superviser</th>
                    <th scope="col">Lab</th>
                    <th scope="col">State</th>
                    <th scope="col">Status</th>
                    <th scope="col">Created Date</th>
                    <th scope="col" style="color:#00670c;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of updatedData.list">
                    <td>{{data.name}}</td>
                    <td>warehouseId</td>
                    <td>licenceNumber</td>
                    <td *ngIf='data.address'>{{data.address.line1}}</td>
                    <td *ngIf='!data.address'></td>
                    <td>xx</td>
                    <td>mandiSupervisorId</td>
                    <td>{{data.labId.name || '--'}}</td>
                    <td>{{data.address.state.stateName}}</td>
                    <td>{{data.status}}</td>
                    <td>{{data.createdAt | date :'MMM ,dd yyyy'}}</td>
                    <td>
                      <div class="row">
                        <div class="col-md-2 col-sm-2 cif-list-icon"><i class="fa fa-flask" (click)="openModal(data._id,'assignLab',data.labId._id)"
                            data-toggle="modal" data-target="#labList" aria-hidden="true"></i></div>
                        <div class="col-md-2 col-sm-2 cif-list-icon"><i class="fa fa-meetup" (click)="openModal(data._id,'assignMandiSuperviser',data.mandiSupervisorId._id)" data-toggle="modal"
                            data-target="#mandiSup" aria-hidden="true"></i></div>
                        <div class="col-md-2 col-sm-2 cif-list-icon"><i class="fa fa-creative-commons" data-toggle="modal"
                            data-target="#areaMang" aria-hidden="true"></i></div>
                        <div class="col-md-2 col-sm-2 cif-list-icon"><i class="fa fa-pencil-square-o" data-toggle="modal"
                            data-target="#updMandi" aria-hidden="true"></i></div>
                        <div class="col-md-2 col-sm-2 cif-list-icon"><i class="fa fa-unlock-alt" data-toggle="modal"
                            data-target="#blockUnblock" aria-hidden="true"></i></div>
                        <div class="col-md-2 col-sm-2 cif-list-icon"><i class="fa fa-trash-o" data-toggle="modal"
                            data-target="#deleteMandi" aria-hidden="true" style="color: red;"></i></div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add New Mandi Modal -->
<div id="userDetail" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-success" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Mandi</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- model body section -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label for="ccnumber">Mandi Name</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="Mandi Name" value="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="ccnumber">Mandi Licence Number</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="Mandi Licence Number" value="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="ccnumber">Address</label>
              <textarea id="textarea-input" name="textarea-input" class="form-control" placeholder="Address" rows="1"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="ccnumber">Select State</label>
                  <select class="form-control" id="warehouseid" placeholder="Select">
                    <option>Select</option>
                    <option>Grade 1</option>
                    <option>Grade 2</option>
                    <option>Grade 1</option>
                    <option>Grade 2</option>
                    <option>Grade 1</option>
                    <option>Grade 2</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="ccnumber">Select City</label>
                  <select class="form-control" id="warehouseid" placeholder="Select">
                    <option>Select</option>
                    <option>Grade 1</option>
                    <option>Grade 2</option>
                    <option>Grade 1</option>
                    <option>Grade 2</option>
                    <option>Grade 1</option>
                    <option>Grade 2</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success btn_save">Add</button>
      </div>
    </div>
  </div>
</div>
<!-- Add New Mandi Modal End -->

<!-- Lab List Modal -->
<div id="labList" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-success" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Lab List</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- model body section -->
      <div class="modal-body">
        <div class="table-responsive">
          <table class="lablisttable">
            <thead>
              <tr>
                <th class="col-md-8">Lab Name</th>
                <th class="col-md-4">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of lab">
                <td>{{data.name}}</td>
                <td *ngIf="data._id != id" data-dismiss="modal">
                  <div (click)="assignLabToMandi(data._id)" style="cursor: pointer;"><span class="badge badge-default">Assign</span>
                  </div>
                </td>
                <td *ngIf="data._id == id" data-dismiss="modal">
                  <div [ngStyle]="{'color':'green'}">Assigned</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success btn_save">Add</button>
      </div> -->
    </div>
  </div>
</div>
<!-- Lab List Modal End -->

<!-- Mandi Supervisor Modal -->
<div id="mandiSup" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-success" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Mandi Supervisor List</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- model body section -->
      <div class="modal-body" style="max-height: 500px;">
        <div class="table-responsive" style="max-height: 470px;">
          <table class="lablisttable">
            <thead>
              <tr>
                <th class="col-md-8">Name</th>
                <th class="col-md-4">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of mandiSuperviser">
                <td>{{data.name}}</td>
                <td *ngIf="data._id != id" data-dismiss="modal">
                  <div (click)="assignMandi(data._id,data.name,'Superviser')" style="cursor: pointer;"><span class="badge badge-default">Assign</span> </div>
                </td>
                <td *ngIf="data._id == id" data-dismiss="modal">
                  <div [ngStyle]="{'color':'green'}">Assigned</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success btn_save">Add</button>
      </div> -->
    </div>
  </div>
</div>
<!-- Mandi Supervisor Modal End -->

<!-- Area manager Modal -->
<div id="areaMang" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-success" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Area Manager List</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- model body section -->
      <div class="modal-body">
        <div class="table-responsive">
          <table class="lablisttable">
            <thead>
              <tr>
                <th class="col-md-8">Name</th>
                <th class="col-md-4">Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                      <td>CGR Labs Sri Ganganagar</td>
                      <td>
                          <div style="color: green;">Assigned</div>
                      </td>
                    </tr> -->
              <tr>
                <td>Mada Ram</td>
                <td>
                  <div style="cursor: pointer;"><span class="badge badge-default">Assign</span> </div>
                </td>
              </tr>
              <tr>
                <td>Mada Ram</td>
                <td>
                  <div style="cursor: pointer;"><span class="badge badge-default">Assign</span> </div>
                </td>
              </tr>
              <tr>
                <td>Mada Ram</td>
                <td>
                  <div style="cursor: pointer;"><span class="badge badge-default">Assign</span> </div>
                </td>
              </tr>
              <tr>
                <td>Mada Ram</td>
                <td>
                  <div style="cursor: pointer;"><span class="badge badge-default">Assign</span> </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success btn_save">Add</button>
      </div>
    </div>
  </div>
</div>
<!-- Area manager Modal End -->

<!-- Update Mandi Modal -->
<div id="updMandi" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-success" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update Mandi Form</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- model body section -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label for="ccnumber">Mandi Name</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="Mandi Name" value="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="ccnumber">Mandi Licence Number</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="Mandi Licence Number" value="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="ccnumber">Address</label>
              <textarea id="textarea-input" name="textarea-input" class="form-control" placeholder="Address" rows="1"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="ccnumber">Select State</label>
                  <select class="form-control" id="warehouseid" placeholder="Select">
                    <option>Select</option>
                    <option>Grade 1</option>
                    <option>Grade 2</option>
                    <option>Grade 1</option>
                    <option>Grade 2</option>
                    <option>Grade 1</option>
                    <option>Grade 2</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="ccnumber">Select City</label>
                  <select class="form-control" id="warehouseid" placeholder="Select">
                    <option>Select</option>
                    <option>Grade 1</option>
                    <option>Grade 2</option>
                    <option>Grade 1</option>
                    <option>Grade 2</option>
                    <option>Grade 1</option>
                    <option>Grade 2</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success btn_save">Update</button>
      </div>
    </div>
  </div>
</div>
<!-- Update Mandi Modal End -->

<!-- Block/Unblock Modal -->
<div id="blockUnblock" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-success" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Block/Unblock Mandi</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- model body section -->
      <div class="modal-body" style="text-align: center;">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="inline-part-down">
              <div class="form-group row">
                <p style="margin-left: 13px;">Do you want to block/unblock this mandi ?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Yes</button>
        <button type="button" class="btn btn-success btn_save" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<!-- Block/Unblock End -->

<!-- Delete Mandi Modal -->
<div id="deleteMandi" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-success" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Mandi</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- model body section -->
      <div class="modal-body" style="text-align: center;">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="inline-part-down">
              <div class="form-group row">
                <p style="margin-left: 13px;">Do you want to delete this mandi ?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Yes</button>
        <button type="button" class="btn btn-success btn_save" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<!-- Delete Mandi End -->