<Section id="page_heading">
    <div class="page-heading">
        <div class="row margin-left-right">
            <div class="col-md-9 col-sm-9">
        <h1 class="Enter-details">
            EMPLOYEE ACTIVITY LOG LIST
        </h1>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="form-group">
            <input class="form-control autocomplete" [(ngModel)]="searchValue"
            (input)="onSearchChange(searchValue)" placeholder="Search by Kisan Name & No."
             style="border: 1px solid #00670c;" />
            <a (click)="clearSearch()">
              <i class="fa fa-close close_btn"></i>
          </a>
          </div>
        </div>
             <div class="clearfix"></div>
    </div>
    </div>
  </Section>
  
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 col-sm-12 margin-left-right">
        <div class="card" style="margin-bottom: 0px;">
          <div class="row">
            <div class="col-md-4 offset-md-8">
              <div class="pagination-outer" style="float: right;margin-right: 5px;">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item" [ngClass]="{'disabled':updatedData.prev === true}">
                          <span class="page-link"  (click)="prevAndNext('prev' ,false )">&laquo;</span>
                        </li>
                        <li class="page-item active">
                          <span class="page-link">
                            {{updatedData.currentPage}}
                            <span class="sr-only">(current)</span>
                          </span>
                        </li>
                        <li class="page-item" [ngClass]="{'disabled':updatedData.next === true}">
                          <span class="page-link"  (click)="prevAndNext('next' ,false )">&raquo;</span>
                        </li>
                        <li class="page-item"><a class="page-link" style="pointer-events: none;color: #00670c;">{{updatedData.from}}-{{updatedData.to}} of {{updatedData.total}}</a></li>
                      </ul>
                </nav>
              </div>
              </div>
            </div>
          <div class="card-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 margin-left-right">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Employee Name</th>
                        <th scope="col">Browser/OS/Version</th>
                        <th scope="col">Login Req</th>
                        <th scope="col">OTP Verify</th>
                        <th scope="col">Logout</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let activity of updatedData.list">
                        <td>{{activity.employee[0].name}}</td>
                        <td>{{activity.browser}}/{{activity.os}}/{{activity.version}}</td>
                        <td>{{activity.createdAt | date:'yyyy-MM-dd HH:mm'}}</td>
                        <td>{{activity.otpVerify | date:'yyyy-MM-dd HH:mm'}}</td>
                        <td>{{activity.logOut | date:'yyyy-MM-dd HH:mm'}}</td>
                        <td>{{activity.status}}</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  
  
  
  
  
