<Section id="page_heading">
    <div class="page-heading">
        <div class="row margin-left-right">
            <div class="col-md-12 col-sm-12">
                <h1 class="Enter-details">
                    CIF REPORT DETAILS
                </h1>
            </div>
        </div>
    </div>
</Section>

<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 col-sm-12 margin-left-right">
            <div class="card" style="margin-bottom: 0px;">
                <div class="address-top">
                    <img src="assets/img/brand/logo.png">
                    <h4>CGR COLLATERAL MANAGEMENT LIMITED</h4>
                    <p>Registered office: 4th Floor K J City Tower, Ashok Marg ,C Scheme, Jaipur 302001</p>
                    <p>website -<span> www.cgrcms.com</span></p>
                </div>
                <hr>
                <div class="form-heading">
                    <h4>COMMODITY INWARD FORM (CIF)</h4>
                </div>
                <table class="pdf-form" style="margin-left: 10px; margin-right: 10px;margin-bottom: 10px;">
                    <p>Cif No. : 102815</p>
                    <p>Date : Dec, 06, 2018</p>
                    <tr>
                        <td>NAME OF DEPOSITOR</td>
                        <td>JAIN FLOUR MILL</td>
                    </tr>
                    <tr>
                        <td>ADDRESS</td>
                        <td>NEW BUS STAND , MOU ROAD,GOHAD ,BHIND, MP</td>
                    </tr>
                    <tr>
                        <td>CONTACT NO.</td>
                        <td>9685087215</td>
                    </tr>
                    <tr>
                        <td>WAREHOUSE ID.</td>
                        <td>CGRCML/GUR/235</td>
                    </tr>
                    <tr>
                        <td>WAREHOUSE NAME & ADDRESS</td>
                        <td>GURUKRAPA WAREHOUSE,VILL.- GOHADI TEH.- GOHAD DISTT BHIND DIST, BHIND,<br>
                            MADHYA PRADESH, VILL. GOHADI TEH GOHAD DIST. BHIND DI, MADHYA PRADESH BHIND, BHIND 477001</td>
                    </tr>
                    <tr>
                        <td>COMMODITY NAME</td>
                        <td>PADDY - MANDI PAID</td>
                    </tr>
                    <tr>
                        <td>MARKET RATE OF COMMODITY</td>
                        <td>Rs. 2800/QTL</td>
                    </tr>
                    <tr>
                        <td>VALUE OF COMMODITY</td>
                        <td>546000 (₹)/(in words) Five Lakhs Forty Six Thousand Only</td>
                    </tr>
                    <tr>
                        <td>Total Quantity(qt)</td>
                        <td>195.000</td>
                    </tr>
                    <tr>
                        <td>Total Quantity(qt)</td>
                        <td>195.000</td>
                    </tr>
                    <tr>
                        <td>CASE TYPE</td>
                        <td>CM</td>
                    </tr>
                </table>
                <br>
                <p style="margin-left: 10px; color: #00670c;font-weight: 500;"><span>Vehicle Details</span></p>
                <table class="pdf-form" style="margin-left: 10px; margin-right: 10px;margin-bottom: 10px;">
                    <tr>
                        <td>Vehicle No.</td>
                        <td>Total Weight (Vehicle+Goods in MT)</td>
                        <td>Weight of Empty Vehicle(MT)</td>
                        <td>Gross Weight of Commodity (MT) (incl. of gunnies)</td>
                        <td>No. of Bags</td>
                        <td>Weighbridge Name & Slip No.</td>
                        <td>Gate Pass No.</td>
                        <td>Name of Supplier/Agent.</td>
                        <td>Location of Supplier/Agent.</td>
                    </tr>
                    <tr>
                        <td>Rj05rb 6905</td>
                        <td>13</td>
                        <td>40</td>
                        <td>90</td>
                        <td>150</td>
                        <td>Shivshakti 3732</td>
                        <td>58900</td>
                        <td>Self</td>
                        <td>Kumher</td>
                    </tr>
                    <tr class="total">
                        <td>Total</td>
                        <td>13</td>
                        <td>40</td>
                        <td>90</td>
                        <td>150</td>
                    </tr>
                </table>
                <br>
                <p style="margin-left: 10px; color: #00670c;font-weight: 500;"><span>Stack Details</span></p>
                <table class="pdf-form" style="margin-left: 10px; margin-right: 10px;margin-bottom: 10px;">
                    <tr>
                        <td>Godown No.</td>
                        <td>No. of Bags</td>
                        <td>Stack No.</td>
                        <td>Lot No.</td>
                        <td>Standard Weight Per Bag.(incl. of Gunnies)</td>
                        <td>No. of Bags</td>
                        <td>Truck Number/Supplier Name as per the requirement of CMPs.</td>
                    </tr>
                    <tr class="total">
                        <td>Total</td>
                        <td>130</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="view-inline tag-btn text-center">
    <div class="button-border">
        <a class="btn btn-border" ng-href="header/cifList" href="header/cifList">Back</a>
        <a class="btn btn-border" ng-click="print('cifReport')">Print</a>
    </div>
</div>