.card{
    box-shadow: 0px 2px 2px #888888;
    max-height: 533px;
}
.card-body{
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}
.sell-buy{
    background: #00670c;
    border-right: 1px solid #ffffff;
    color: #ffffff;

}
.btn_right{
    text-align: right;
    right: 2%;
}
// .sell-buy-data{
//     border-right: 1px solid #888888;
//     border-left: 1px solid #888888;
// }


// rsponsive

@media (min-width: 992px) and (max-width: 1199px){
    .card{
        overflow-x: auto;
    }
    .btn-group-toggle{
        margin-left: 0px;
    }
    .card .pagination-outer{
        margin-right: 0% !important;
        position: fixed;
        z-index: 999;
        top: 161px;
        right: 33px;
    }
    .card-body {
        margin-top: 40px;
        overflow-y: scroll !important;
        overflow-x: scroll !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .card{
        overflow-x: auto;
    }
    .btn-group-toggle{
        margin-left: 0px;
    }
    .card .pagination-outer{
        margin-right: 0% !important;
        position: fixed;
        z-index: 999;
        top: 161px;
        right: 33px;
    }
    .card-body {
        margin-top: 40px;
        overflow-y: scroll !important;
        overflow-x: scroll !important;
    }
}
