<Section id="page_heading">
    <div class="row">
        <div class="col-md-12 col-sm-12 margin-left-right">
    <div class="page-heading">
        <div class="row">
            <div class="col-md-10 col-sm-10">
        <h1 class="Enter-details">
          UPDATE PRODUCT FORM
        </h1>
        </div>
        <div class="col-sm-2 col-md-2">
            <button type="button" class="btn btn-block btn-success active" data-toggle="modal" data-target="#varietyList" aria-pressed="true" 
            style="background: #00670c;margin-left: -5px;padding: 6px 6px;">Variety List</button> 
          </div>
          <div class="clearfix"></div>
    </div>
    </div>
    </div>
  </div>
  </Section>

<div class="animated fadeIn">
<div class="row">
  <div class="col-md-12 col-sm-12 margin-left-right">
    <div class="card" style="margin-bottom: 0px;">
      <!-- <div class="row"> -->
        <div class="card-body list-view">
          <div class="row">
            <div class="col-md-12 col-sm-12 margin-left-right">
                <form action="" method="post" class="form-horizontal">
            <p style="color: #00670c;font-size: 16px; letter-spacing: 1px;"><b><u>Product Detail</u></b></p>
            <div class="row">
              <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-md-4 col-form-label bmd-label-floating">Product Name</label>
                <div class="col-md-8">
                  <input type="" name="" class="form-control" placeholder="Product Name" value="">
                </div> 
                </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group row">
                      <label class="col-md-4 col-form-label">Mandi-Paid</label>
                      <div class="col-md-8">
                          <div class="form-check form-check-inline mr-1" id="inline-radios" style="margin-top: 13px;">
                              <input class="form-check-input my-check-box" type="checkbox" id="checkbox1" value="option1">
                            </div>
                      </div> 
                  </div>
              </div>
              </div>
            <p style="color: #00670c;font-size: 16px; letter-spacing: 1px;"><b><u>Price Range</u></b></p>
            <div class="row">
              <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-md-4 col-form-label">Start Price</label>
                <div class="col-md-8">
                  <input type="number" min="00.00" max="99.99" name="" class="form-control" placeholder="Start Price" value="">
                </div> 
                </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">End Price</label>
                    <div class="col-md-8">
                      <input type="number" min="00.00" max="99.99" name="" class="form-control" placeholder="End Price" value="">
                    </div> 
                    </div>
              </div>
              </div>
              <p style="color: #00670c;font-size: 16px; letter-spacing: 1px;"><b><u>On Rent</u></b></p>
              <div class="row">
                <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label">GST</label>
                  <div class="col-md-8">
                    <input type="" name="" class="form-control" placeholder="GST" value="">
                  </div> 
                  </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">HSN/SAC</label>
                      <div class="col-md-8">
                        <input type="" name="" class="form-control" placeholder="HSN/SAC" value="">
                      </div> 
                      </div>
                </div>
                </div>
                <p style="color: #00670c;font-size: 16px; letter-spacing: 1px;"><b><u>On Sale</u></b></p>
                <div class="row">
                  <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">GST</label>
                    <div class="col-md-8">
                      <input type="" name="" class="form-control" placeholder="GST" value="">
                    </div> 
                    </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label">HSN/SAC</label>
                        <div class="col-md-8">
                          <input type="" name="" class="form-control" placeholder="HSN/SAC" value="">
                        </div> 
                        </div>
                  </div>
                  </div>
                <div class="row">
                  <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">Mandi tax</label>
                    <div class="col-md-8">
                      <input type="number" min="00.00" max="99.99" name="" class="form-control" placeholder="Mandi tax" value="">
                    </div> 
                    </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label">Bag Charge</label>
                        <div class="col-md-8">
                          <input type="number" min="00.00" max="99.99" name="" class="form-control" placeholder="Bag Charge" value="">
                        </div> 
                        </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-md-4 col-form-label">Bag Charge (Editable)</label>
                          <div class="col-md-8">
                              <div class="form-check form-check-inline mr-1" id="inline-radios" style="margin-top: 13px;">
                                  <input class="form-check-input my-check-box" type="checkbox" id="checkbox1" value="option1">
                                </div>
                          </div> 
                          </div>
                    </div>
                    <div class="col-sm-6">
                    <!-- <div class="form-group row">
                      <label class="col-md-4 col-form-label">Release Bags</label>
                      <div class="col-md-8">
                        <input type="" name="" class="form-control" placeholder="Release Bags" value="">
                      </div> 
                      </div> -->
                    </div>
                    </div>
                    <p style="color: #00670c;font-size: 16px; letter-spacing: 1px;"><b><u>Test Parameter</u></b></p>
                    <div class="row">
                      <div class="col-sm-6">
                      <div class="form-group row">
                          <div class="col-md-6">
                              <input type="" name="" class="form-control" placeholder="GST" value="">
                            </div>
                        <div class="col-md-6">
                          <input type="" name="" class="form-control" placeholder="GST" value="">
                        </div> 
                        </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group row">
                              <div class="col-md-8">
                                  <input type="" name="" class="form-control" placeholder="HSN/SAC" value="">
                                </div>
                            <div class="col-md-2">
                                <i class="fa fa-plus test-para" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-2">
                                <!-- <i class="fa fa-minus test-para" aria-hidden="true"></i> -->
                            </div> 
                            </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <input type="" name="" class="form-control" placeholder="GST" value="">
                              </div>
                          <div class="col-md-6">
                            <input type="" name="" class="form-control" placeholder="GST" value="">
                          </div> 
                          </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <input type="" name="" class="form-control" placeholder="HSN/SAC" value="">
                                  </div>
                              <div class="col-md-2">
                                  <i class="fa fa-minus test-para" aria-hidden="true"></i>
                              </div>
                              <div class="col-md-2">
                                  <i class="fa fa-plus test-para" aria-hidden="true"></i>
                                </div> 
                              </div>
                        </div>
                    </div>
                    <p style="color: #00670c;font-size: 16px; letter-spacing: 1px;"><b><u>Product Image</u></b></p>
                    <div class="row">
                      <div class="col-sm-6">
                      <div class="form-group row">
                          <div class="col-sm-12">
                          <input type="file" class="form-control" id="file-input" name="file-input">
                          </div> 
                        </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group row">
                              <div class="col-md-12">
                                  <div class="profile-block">
                                      <div class="m-b-0" style="text-align: center;position: relative;height: 165px;margin: 20px auto;"> 
                                          <img style="width: 250px;height: 150px;border-radius: 3%;" src="assets\img\avatars\def_img.png" id="fullImg">       
                                      </div>
                              </div>
                                </div> 
                            </div>
                      </div>
                    </div>
                </form>
      <div class="clearfix"></div>
        <!-- </div>     -->
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
</div>

<div class="view-inline tag-btn text-center">
    <div class="button-border">
        <a class="btn btn-border">Back</a>
        <a class="btn btn-border">Update</a>
    </div>
</div>

<!-- Lab List Modal -->
<div id="varietyList" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-success" role="document">
     <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">VARIETY List</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              </div>
<!-- model body section -->
         <div class="modal-body">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                            <input class="form-control autocomplete" placeholder="search by variety name" style="border: 1px solid #00670c;" />
                          </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    
                  <button type="button" class="btn btn-block btn-success active" aria-pressed="true" data-toggle="modal" data-target="#enterVariety" 
                  style="background: #00670c;margin-left: -5px;padding: 6px 6px;">Add New Variety</button>
                
                </div>
                <div class="clearfix"></div>
             </div>
         <div class="table-responsive">
           
           <table class="lablisttable">
              <thead>
                  <tr>
                      <th class="col-md-8">Name</th>
                      <th class="col-md-4">Action</th>
                  </tr>
              </thead>
              <tbody>
                    <tr>
                      <td>CGR Labs Sri Ganganagar</td>
                      <td>
                          <div style="color: green;">Assigned</div>
                      </td>
                    </tr>
                    <tr>
                      <td>CGR Labs Jaipur</td>
                      <td>
                          <div style="cursor: pointer;"><span class="badge badge-default">Assign</span> </div>
                      </td>
                    </tr>
                    <tr>
                      <td>CGR Labs Sri Ganganagar</td>
                      <td>
                          <div style="color: green;">Assigned</div>
                      </td>
                    </tr>
                    <tr>
                      <td>CGR Labs Sri Ganganagar</td>
                      <td>
                          <div style="color: green;">Assigned</div>
                      </td>
                    </tr>
              </tbody>
           </table>
         </div>
         </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success btn_save">Add</button>
               </div>
    </div>
    </div>
    </div>
<!-- Lab List Modal End -->

<!-- Employee target Modal -->
<div id="enterVariety" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-success" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Enter Variety Name</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              </div>
  <!-- model body section -->
          <div class="modal-body">
            <div class="row">
            <div class="col-md-12 col-sm-12">
                  <div class="form-group">
                    <label for="ccnumber">Variety Name</label>
                    <input type="text" class="form-control" id="warehouseid" placeholder="Variety Name" value="">
                  </div>
            </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary">Add</button>
            <button type="button" class="btn btn-success btn_save" data-dismiss="modal">No</button>
          </div>
    </div>
    </div>
    </div>
  <!-- Employee target End -->

