<!-- for panding and complete form -->

<Section id="page_heading">
  <div class="page-heading">
    <div class="row margin-left-right">
      <div class="col-md-12 col-sm-12">
        <h1 class="Enter-details">
          UPDATE CIF DETAILS
        </h1>
      </div>
    </div>
  </div>
</Section>


<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-sm-12 margin-left-right">
      <div class="card" style="margin-bottom: 0px;">
        <!-- <div class="row"> -->
        <div class="card-body list-view">
          <div class="row">
            <div class="col-md-12 col-sm-12 margin-left-right">
              <form action="" method="post" class="form-horizontal">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Warehouse Name</label>
                      <div class="col-md-8">
                        <select class="form-control" id="warehouseid" placeholder="Select">
                          <option>Select</option>
                          <option>1</option>
                          <option>2</option>
                          <option>2</option>
                          <option>2</option>
                          <option>2</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <!-- <div class="form-group row">
          <label class="col-md-4 col-form-label">User I'd</label>
          <div class="col-md-8">
            <input type="" name="" class="form-control" placeholder="User I'd" value="">
          </div> 
          </div> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Name Of Depositor</label>
                      <div class="col-md-8">
                        <input type="" name="" class="form-control" placeholder="Name Of Depositor" value="">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Depositor Address</label>
                      <div class="col-md-8">
                        <textarea id="textarea-input" name="textarea-input" class="form-control" placeholder="" rows="1">
                </textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">User I'd</label>
                      <div class="col-md-8">
                        <input type="" name="" class="form-control" placeholder="User I'd" value="">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Contact No</label>
                      <div class="col-md-8">
                        <input type="" name="" class="form-control" placeholder="Contact No" value="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Commodity</label>
                      <div class="col-md-8">
                        <select class="form-control" id="warehouseid" placeholder="Select">
                          <option>Select Commodity</option>
                          <option>1</option>
                          <option>2</option>
                          <option>2</option>
                          <option>2</option>
                          <option>2</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Unit</label>
                      <div class="col-md-8">
                        <select class="form-control" id="warehouseid" placeholder="Select">
                          <option>Select Unit</option>
                          <option>1</option>
                          <option>2</option>
                          <option>2</option>
                          <option>2</option>
                          <option>2</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Mkt Rate Of Commodity (Per Qt.)</label>
                      <div class="col-md-8">
                        <input type="" name="" class="form-control" placeholder="Commodity (Per Qt.)" value="">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Partial Buy Allowed</label>
                      <div class="col-md-8">
                        <div class="form-check form-check-inline mr-1" id="inline-radios" style="margin-top: 13px;">
                          <input class="form-check-input my-check-box" type="checkbox" id="checkbox1" value="option1">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Total Quantity (In Qt.)</label>
                      <div class="col-md-8">
                        <input type="" name="" class="form-control" placeholder="Total Quantity" value="">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Value of Commodity (₹)</label>
                      <div class="col-md-8">
                        <input type="" name="" class="form-control" placeholder="Value of Commodity" value="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Storage Type</label>
                      <div class="col-md-8">
                        <div class="form-check form-check-inline mr-3" id="inline-radios">
                          <input class="form-check-input my-check-box" type="radio" name="inline-radios" id="inlineRadio1"
                            value="option1">
                          <label class="form-check-label" for="inlineRadio1">Funding </label>
                        </div>
                        <div class="form-check form-check-inline mr-3">
                          <input class="form-check-input my-check-box" type="radio" name="inline-radios" id="inlineRadio2"
                            value="option2">
                          <label class="form-check-label" for="inlineRadio2">Listing</label>
                        </div>
                        <div class="form-check form-check-inline mr-3">
                          <input class="form-check-input my-check-box" type="radio" name="inline-radios" id="inlineRadio3"
                            value="option3">
                          <label class="form-check-label" for="inlineRadio3">Storage</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Name Of Financing Bank</label>
                      <div class="col-md-8">
                        <div class="row">
                          <div class="col-md-6 col-sm-6">
                            <select class="form-control" id="warehouseid" placeholder="Select Bank">
                              <option>Select Bank</option>
                              <option>ICICI BAnk</option>
                              <option>Yes BAnk</option>
                            </select>
                          </div>
                          <div class="col-md-6 col-sm-6">
                            <select class="form-control" id="warehouseid" placeholder="Select Branch">
                              <option>Select Branch</option>
                              <option>Delhi</option>
                              <option>Gurugram</option>
                              <option>Delhi</option>
                              <option>Gurugram</option>
                              <option>Delhi</option>
                              <option>Gurugram</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Same WareHouse Transfer</label>
                      <div class="col-md-8">
                        <div class="form-check form-check-inline mr-1" id="inline-radios" style="margin-top: 13px;">
                          <input class="form-check-input my-check-box" type="checkbox" id="checkbox1" value="option1">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">CWF Ref No.</label>
                      <div class="col-md-8">
                        <div class="row">
                          <div class="col-md-9">
                            <input type="" name="" class="form-control" placeholder="Release Bags" value="">
                          </div>
                          <div class="col-md-3">
                            <div class="view-inline tag-btn text-center">
                              <div class="button-border">
                                <a class="btn btn-border">Search</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Insurance By</label>
                      <div class="col-md-8">
                        <div class="form-check form-check-inline mr-3" id="inline-radios">
                          <input class="form-check-input my-check-box" type="radio" name="inline-radios" id="inlineRadio1"
                            value="option1">
                          <label class="form-check-label" for="inlineRadio1">Depositor</label>
                        </div>
                        <div class="form-check form-check-inline mr-3">
                          <input class="form-check-input my-check-box" type="radio" name="inline-radios" id="inlineRadio2"
                            value="option2">
                          <label class="form-check-label" for="inlineRadio2">CGRCML</label>
                        </div>
                        <div class="form-check form-check-inline mr-3">
                          <input class="form-check-input my-check-box" type="radio" name="inline-radios" id="inlineRadio3"
                            value="option3">
                          <label class="form-check-label" for="inlineRadio3">Bank</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Insurance Company</label>
                      <div class="col-md-8">
                        <input type="" name="" class="form-control" placeholder="Insurance Company" value="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Case Type</label>
                      <div class="col-md-8">
                        <div class="form-check form-check-inline mr-3" id="inline-radios">
                          <input class="form-check-input my-check-box" type="radio" name="inline-radios" id="inlineRadio1"
                            value="option1">
                          <label class="form-check-label" for="inlineRadio1">PW</label>
                        </div>
                        <div class="form-check form-check-inline mr-3">
                          <input class="form-check-input my-check-box" type="radio" name="inline-radios" id="inlineRadio2"
                            value="option2">
                          <label class="form-check-label" for="inlineRadio2">SM</label>
                        </div>
                        <div class="form-check form-check-inline mr-3">
                          <input class="form-check-input my-check-box" type="radio" name="inline-radios" id="inlineRadio3"
                            value="option3">
                          <label class="form-check-label" for="inlineRadio3">CM</label>
                        </div>
                        <div class="form-check form-check-inline mr-3">
                          <input class="form-check-input my-check-box" type="radio" name="inline-radios" id="inlineRadio3"
                            value="option3">
                          <label class="form-check-label" for="inlineRadio3">SP</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Old Wr Number</label>
                      <div class="col-md-8">
                        <input type="" name="" class="form-control" placeholder="Old Wr Number" value="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Bag Charge</label>
                      <div class="col-md-8">
                        <input type="" name="" class="form-control" placeholder="Bag Charge" value="">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Cleaning Charge</label>
                      <div class="col-md-8">
                        <input type="" name="" class="form-control" placeholder="Cleaning Charge" value="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Warehoue Rent</label>
                      <div class="col-md-8">
                        <input type="" name="" class="form-control" placeholder="Warehoue Rent" value="">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <!-- <div class="form-group row">
                                <label class="col-md-4 col-form-label">Cleaning Charge</label>
                                <div class="col-md-8">
                                  <input type="" name="" class="form-control" placeholder="Cleaning Charge" value="">
                                </div> 
                                </div> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Rent (as per)</label>
                      <div class="col-md-8">
                        <div class="form-check form-check-inline mr-3" id="inline-radios">
                          <input class="form-check-input my-check-box" type="radio" name="inline-radios" id="inlineRadio1"
                            value="option1">
                          <label class="form-check-label" for="inlineRadio1">BAG</label>
                        </div>
                        <div class="form-check form-check-inline mr-3">
                          <input class="form-check-input my-check-box" type="radio" name="inline-radios" id="inlineRadio2"
                            value="option2">
                          <label class="form-check-label" for="inlineRadio2">MT</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label">Rent Billing</label>
                      <div class="col-md-8">
                        <div class="form-check form-check-inline mr-3" id="inline-radios">
                          <input class="form-check-input my-check-box" type="radio" name="inline-radios" id="inlineRadio1"
                            value="option1">
                          <label class="form-check-label" for="inlineRadio1">DAY</label>
                        </div>
                        <div class="form-check form-check-inline mr-3">
                          <input class="form-check-input my-check-box" type="radio" name="inline-radios" id="inlineRadio2"
                            value="option2">
                          <label class="form-check-label" for="inlineRadio2">WEEK</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="file-input"><strong>Stack Card Image</strong></label>
                      <div class="col-md-8"><input type="file" id="file-input" name="file-input">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="file-input"><strong>Stack Card Image</strong></label>
                      <div class="col-md-8"><input type="file" id="file-input" name="file-input">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="profile-block">
                      <div class="m-b-0" style="text-align: center;position: relative;height: 165px;margin: 20px auto;">
                        <img style="width: 250px;height: 150px;border-radius: 3%;" src="assets\img\avatars\def_img.png"
                          id="fullImg">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="profile-block">
                      <div class="m-b-0" style="text-align: center;position: relative;height: 165px;margin: 20px auto;">
                        <img style="width: 250px;height: 150px;border-radius: 3%;" src="assets\img\avatars\def_img.png"
                          id="fullImg">
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="clearfix"></div>
              <!-- </div>     -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Stack Modal -->
<div id="addstack" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-success" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Enter Stack details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- model body section -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label for="ccnumber">Godown Number</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="Godown Number">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="ccnumber">Stack Number</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="Stack Number">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="ccnumber">Lot Number</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="Lot Number">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="ccnumber">Stnd. weight per bag (incl. of Gunnies)</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="Stnd. weight per bag (incl. of Gunnies)">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="ccnumber">Number of bags</label>
              <input type="text" class="form-control" id="warehouseid" placeholder="Number of bags">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success btn_save">Add</button>
      </div>
    </div>
  </div>
</div>
<!-- Add Stack Modal End -->

<div class="view-inline tag-btn text-center">
  <div class="button-border">
    <a class="btn btn-border">Back</a>
    <a class="btn btn-border" data-toggle="modal" data-target="#addstack">Add Stack Detail</a>
    <a class="btn btn-border">Update</a>
  </div>
</div>