<Section id="page_heading">
  <div class="page-heading">
    <div class="row margin-left-right">
      <div class="col-md-4 col-sm-4">
        <h1 class="Enter-details">
          RELEASE ORDER LIST
        </h1>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="form-group">
          <input class="form-control autocomplete" [(ngModel)]="searchValue" (input)="onSearchChange(searchValue)"
            placeholder="Search by release order no." style="border: 1px solid #00670c; position:relative;" />
          <a (click)="clearSearch()">
            <i class="fa fa-close close_btn"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 btn_right">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active btn-active" (click)="onStatusSelectionChange('PENDING')">
            <input type="radio" [checked]="listType === 'PENDING'" name="options" checked> Pending RO
          </label>
          <label class="btn btn-secondary" (click)="onStatusSelectionChange('COMPLETED')">
            <input type="radio" [checked]="listType === 'COMPLETED'" name="options"> Completed RO
          </label>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</Section>

<!-- pending -->
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-sm-12 margin-left-right">
      <div class="card" style="margin-bottom: 0px;">
        <div class="row">
          <div class="col-md-4 offset-md-8">
            <div class="pagination-outer" style="float: right;margin-right: 5px;">
              <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item" [ngClass]="{'disabled':updatedData.prev === true}">
                    <span class="page-link" (click)="prevAndNext('prev' ,false )">&laquo;</span>
                  </li>
                  <li class="page-item active">
                    <span class="page-link">
                      {{updatedData.currentPage}}
                      <!-- <span class="sr-only">{{updatedData.page}}</span> -->
                    </span>
                  </li>
                  <li class="page-item" [ngClass]="{'disabled':updatedData.next === true}">
                    <span class="page-link" (click)="prevAndNext('next' ,false )">&raquo;</span>
                  </li>
                  <li class="page-item"><a class="page-link" style="pointer-events: none;color: #00670c;">{{updatedData.from}}-{{updatedData.to}}
                      of {{updatedData.total}}</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 margin-left-right">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">RO No.</th>
                    <th scope="col">WR No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Mandi(WH)</th>
                    <th scope="col">Commodity</th>
                    <th scope="col">Quantity(Qt)</th>
                    <th scope="col">Bags</th>
                    <th scope="col">Created</th>
                    <th scope="col">Verify By Area Manager</th>
                    <th scope="col" style="color:#00670c;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ro of updatedData.list">
                    <td>{{ro.releaseOrderNumber}}</td>
                    <td>{{ro.marketProductId.wrNumber}}</td>
                    <td><span *ngIf="ro.user[0]">{{ro.user[0].name}}</span></td>
                    <td><span *ngIf="ro.user[0]">{{ro.user[0].phoneNumber}}</span></td>
                    <td><span *ngIf="ro.mandi[0]">{{ro.mandi[0].name}}</span></td>
                    <td><span *ngIf="ro.product[0]">{{ro.product[0].name}}</span></td>
                    <td>{{ro.quantity}}</td>
                    <td>{{ro.totalBags}}</td>
                    <td>{{ro.createdAt | date :'MMM,dd yyyy'}}</td>
                    <td>
                      {{ro.verifyByAreaManager==true? 'Verified':'Not Verified'}}
                    </td>
                    <td>
                      <div class="row">
                        <div class="col-md-12 col-sm-12 cif-list-icon"><a style="cursor: pointer;" (click)="showReceiverDetails(ro)"
                            data-toggle="modal" data-target="#releaseOrder"><i class="fa fa-info-circle" aria-hidden="true"></i></a></div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Release Order Detail Modal -->
<div id="releaseOrder" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-success" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Release Order Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- model body section -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="inline-part-down">
              <div class="form-group row">
                <table class="pdf-form" style="margin-left: 10px; margin-right: 10px;margin-bottom: 10px;">
                  <tr>
                    <td>Date</td>
                    <td colspan="2">Oct,22 2018</td>
                    <td colspan="2">Reference No.</td>
                    <td colspan="4">CGRCML</td>
                  </tr>
                  <tr>
                    <td class="text-center" colspan="9"><b>Warehouse Detail</b></td>
                  </tr>
                  <tr>
                    <td colspan="3">Warehouse Name</td>
                    <td colspan="6">VIjay Warehouse</td>
                  </tr>
                  <tr>
                    <td colspan="3">Warehouse Address</td>
                    <td colspan="6">Village Gourgan Dhamoura, Distt Chhatarpur 471001 (MP)</td>
                  </tr>
                  <tr>
                    <td class="text-center col-md-8" colspan="9"><b>Client Detail</b></td>
                  </tr>
                  <tr>
                    <td colspan="2">Name</td>
                    <td colspan="3">Vinod Kumar patel</td>
                    <td colspan="2">Phone Number</td>
                    <td colspan="2">9977521670</td>
                  </tr>
                  <tr>
                    <td colspan="2">Address</td>
                    <td colspan="7">Villages Vangaay district chhatapur 471201 </td>
                  </tr>
                  <tr>
                    <td colspan="2">Auth. Person Name</td>
                    <td colspan="3">ashish patel</td>
                    <td colspan="1">Broker Name</td>
                    <td colspan="3"></td>
                  </tr>
                  <tr>
                    <td colspan="2">Id Proof Type</td>
                    <td colspan="3">DL</td>
                    <td colspan="1">Id Proof No.</td>
                    <td colspan="3"></td>
                  </tr>
                  <tr>
                    <td colspan="2">SR NO.</td>
                    <td colspan="2">SR Date</td>
                    <td colspan="2">Commodity</td>
                    <td>Release Bags</td>
                    <td>Release(Qt)</td>
                  </tr>
                  <tr>
                    <td colspan="2">12257</td>
                    <td colspan="2">Oct,22 2018</td>
                    <td colspan="2">Urad - Mandi Paid</td>
                    <td>200</td>
                    <td>110</td>

                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success btn_save">Send</button>
               </div> -->
    </div>
  </div>
</div>
<!-- Lab Asst fill detail End -->