.card{
    box-shadow: 0px 2px 2px #888888;
    max-height: 483px;
}
.card-body {
    margin-top: 0px;
}
.card-header{
    background-color: #00670c;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
}
.card-header1{
border-top: 1px solid #cccccc;
}
.margin-left-right{
    padding-right: 5px !important;
    padding-left: 5px !important;
}
.cif-list-icon .fa{
    font-size: 18px;
    color: #00670c;
    padding: 3px 3px;
    // border: 1px solid #ffffff;
    cursor: pointer;
}
.cif-list-icon h4{
    color: #00670c;
    font-size: 18px;
}
.card-body thead{
    font-size: 14px;
}
.card-body tbody{
    font-size: 12px;
}
.card-body th{
    border-top: none;
    text-align: center;
}
.card-body td{
    text-align: center;
}
.card-body table{
    margin-top: -25px;
    margin-bottom: -25px;
}

// rsponsive

@media (min-width: 992px) and (max-width: 1199px){
    .card{
        overflow-x: auto;
    }
    .card .pagination-outer{
        margin-right: 0% !important;
        position: fixed;
        z-index: 999;
        top: 161px;
        right: 33px;
    }
        .card-body {
            margin-top: 40px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .card{
        overflow-x: auto;
    }
    .card .pagination-outer{
        margin-right: 0% !important;
        position: fixed;
        z-index: 999;
        top: 161px;
        right: 33px;
    }
        .card-body {
            margin-top: 40px;
    }
}
